html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 'Muli', sans-serif;

}


main {

	padding: 0;
	margin: 0;
	height: 100%;

	--header-height: 40px;
	--aside-width: 270px;

}

header {

	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	height: var(--header-height);
	background-color: #3d5480;
	z-index: 10;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

header table td.file {

	width: 240px;
	text-align: right;
	padding-right: 4px;

}

header h1 {

	color: #fff;
	font-family: 'Muli', sans-serif;
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 17px;
	text-indent: 4px;

}

section {

	position: fixed;
	left: 0;
	top: var(--header-height);
	height: calc(100% - var(--header-height));
	width: 100%;
	position: fixed;
	background-color: #f1f1f1;

}

nav {

	position: absolute;
	left: 0;
	top: 0;
	width: calc(var(--aside-width) - 4px);
	background-color: #f7f9fa;
	z-index: 5;
	height: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	border-right: 2px solid #3e8dc9;
	border-left: 2px solid #3e8dc9;

}

nav div.tabs {

	width: 100%;
	height: 40px;
	border-bottom: 2px solid #3e8dc9;

}

nav div.tabs table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

nav div.tabs table div.pill {

	width: 90%;
	height: 30px;
	border-radius: 4px;
	display: block;
	margin: auto;
	border: 1px solid #3e8dc9;
	line-height: 30px;
	text-align: center;

}

nav div.preview {

	height: calc(100% - 42px);
	overflow-y: scroll;

}

nav div.preview li {

	width: calc(100% - 12px);
	border: 1px dashed #3e8dc9;
	height: 130px;
	display: block;
	margin: 4px auto;
	border-radius: 4px;

}

nav div.preview li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

article {

	position: absolute;
	left: var(--aside-width);
	width: calc(100% - var(--aside-width));
	top: 0;
	height: 100%;

}

article div.paper {

	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 1px dashed #8a8a8a;
	margin: 5px auto;

}
